body {
    background-image: url("../images/background.png");
    background-size: cover;
}
header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-weight: bold;
    padding: 20px;
}

#container {
    background-color: rgba(216, 191, 216, 0.5);
    height: 100%;
    margin: 20px;

}
#instructions {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 40%;
    height: auto;
    overflow: auto;
    margin-top: 0;
    margin-left: 1%;
    padding-top: 1%;
    line-height: 1.5;
    display: block;
}

.crystal {
    width: 8%;
    height: auto;
    padding: 10px;
}

#crystals {
    margin-left: 1%;
    clear: both;
}

#targetnumber {
    display: block;
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#score {
    display: inline-block;
    width: 100px;
    height: auto;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#totalheader {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1%;
}
#usertotal {
    display: block;
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width:980px) {
    #instructions {
        width: 50%;
    }
}

@media screen and (max-width:768px) {

}

@media screen and (max-width:640px) {
    #instructions {
        width: 80%;
        margin: auto;
    }
    header {
        text-align: center;
    }

    #targetandscore {
        width: 260px;
        margin: auto;
        overflow: auto;
    }

    #targetnumber {
        padding: 10px;
    }
    .crystal {
        width: 70px;
        display: block;
        float: left;
    }
    #crystal3 {
        clear: both;
    }
    #crystals {
        text-align: center;
        width: 180px;
        margin: auto;
        overflow: auto;
    }

    #totalheader {
        text-align: center;
        padding: 10px;
    }

    #usertotal {
        margin: auto;
    }
}
